2021-0826_flows.json
[{"id":"224c9e67.903562","type":"http in","z":"a9b4c4d1.c04608","name":"","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":140,"y":860,"wires":[["fa84ae19.796cd"]]},{"id":"e94a0b55.8523a8","type":"http response","z":"a9b4c4d1.c04608","name":"","statusCode":"","headers":{},"x":490,"y":860,"wires":[]},{"id":"fa84ae19.796cd","type":"template","z":"a9b4c4d1.c04608","name":"時刻設定画面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<body>\n    <div style=\"font-size:300%;\">\n        スマホの時刻<br>\n        <div id=\"time1\"></div><br>\n\n        <form action=\"/timeset\" method=\"post\">\n          <input id=\"dYY\" type=\"hidden\" name=\"dYY\" value=\"\">\n            <input id=\"dMM\" type=\"hidden\" name=\"dMM\" value=\"\">\n            <input id=\"dDD\" type=\"hidden\" name=\"dDD\" value=\"\">\n            <input id=\"tHH\" type=\"hidden\" name=\"tHH\" value=\"\">\n            <input id=\"tMM\" type=\"hidden\" name=\"tMM\" value=\"\">\n            <input id=\"tSS\" type=\"hidden\" name=\"tSS\" value=\"\">\n            <input type=\"submit\" value=\"ラズパイの時刻を設定する\" style=\"font-size:100%;\">\n        </form>\n        <a href=\"./menu\">メニューに戻る</a>　<br><br>\n\n    </div>\n</body>\n\n    <script>\n        time();\n        setInterval('time()',1000);\n    \n        function time(){\n            var now = new Date();\n\n            document.getElementById(\"time1\").innerHTML = now.toLocaleTimeString();\n            document.getElementById(\"dYY\").value = now.getFullYear();\n            document.getElementById(\"dMM\").value = now.getMonth() + 1;\n            document.getElementById(\"dDD\").value = now.getDate();\n            document.getElementById(\"tHH\").value = now.getHours();\n            document.getElementById(\"tMM\").value = now.getMinutes();\n            document.getElementById(\"tSS\").value = now.getSeconds();\n         }\n    </script>\n\n","output":"str","x":320,"y":860,"wires":[["e94a0b55.8523a8"]]},{"id":"65cc1b97.56e1c4","type":"http response","z":"a9b4c4d1.c04608","name":"","statusCode":"","headers":{},"x":850,"y":980,"wires":[]},{"id":"d92f3d74.e3b0d","type":"http in","z":"a9b4c4d1.c04608","name":"","url":"/timeset","method":"post","upload":false,"swaggerDoc":"","x":150,"y":980,"wires":[["952496af.dac368"]]},{"id":"a2fb59d7.b3ab08","type":"template","z":"a9b4c4d1.c04608","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div style=\"font-size:300%;\">\n    ラズパイの時刻設定結果<br>\n    {{payload}}\n\n    <br>\n    <br>\n    <br>\n    <a href=\"./menu\">メニューに戻る</a>\n</dav>","output":"str","x":720,"y":980,"wires":[["65cc1b97.56e1c4"]]},{"id":"952496af.dac368","type":"function","z":"a9b4c4d1.c04608","name":"時刻設定コマンド引数生成","func":"var settime = '\"';\n\nsettime += msg.payload.dMM.toString() +'/';\nsettime += msg.payload.dDD.toString() +' ';\nsettime += msg.payload.tHH.toString() +':';\nsettime += msg.payload.tMM.toString() +':';\nsettime += msg.payload.tSS.toString() +' ';\nsettime += msg.payload.dYY.toString() +'\"';\n\n\nmsg.payload = settime;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":980,"wires":[["99bbff75.c90cb"]]},{"id":"99bbff75.c90cb","type":"exec","z":"a9b4c4d1.c04608","command":"sudo date -s ","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":570,"y":980,"wires":[["a2fb59d7.b3ab08"],[],[]]},{"id":"404911d8.16d5d","type":"template","z":"a9b4c4d1.c04608","name":"メニュー画面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div style=\"font-size:300%;\">\n    メニュー<br><br>\n\n<a href=\"./ui\">操作画面</a>　<br><br>\n<a href=\"./img\">画像表示</a>　<br><br>\n<a href=\"./time\">時刻合わせ</a>　<br><br>\n<a href=\"./menu\">メニューに戻る</a>　<br><br>\n\n<div>","output":"str","x":320,"y":820,"wires":[["d0e676c8.fc6ee8"]]},{"id":"f4c997d0.77c9a8","type":"http in","z":"a9b4c4d1.c04608","name":"","url":"/menu","method":"get","upload":false,"swaggerDoc":"","x":140,"y":820,"wires":[["404911d8.16d5d"]]},{"id":"d0e676c8.fc6ee8","type":"http response","z":"a9b4c4d1.c04608","name":"","statusCode":"","headers":{},"x":490,"y":820,"wires":[]},{"id":"50316bb2.90e514","type":"http in","z":"a9b4c4d1.c04608","name":"","url":"/pow","method":"get","upload":false,"swaggerDoc":"","x":140,"y":900,"wires":[["6a54c6fc.4cbd18"]]},{"id":"47be2e6c.18cc6","type":"http response","z":"a9b4c4d1.c04608","name":"","statusCode":"","headers":{},"x":490,"y":900,"wires":[]},{"id":"6a54c6fc.4cbd18","type":"template","z":"a9b4c4d1.c04608","name":"時刻設定画面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<body>\n    <div style=\"font-size:300%;\">\n        スマホの時刻<br>\n        <div id=\"time1\"></div><br>\n\n        <form action=\"/timeset\" method=\"post\">\n          <input id=\"dYY\" type=\"hidden\" name=\"dYY\" value=\"\">\n            <input id=\"dMM\" type=\"hidden\" name=\"dMM\" value=\"\">\n            <input id=\"dDD\" type=\"hidden\" name=\"dDD\" value=\"\">\n            <input id=\"tHH\" type=\"hidden\" name=\"tHH\" value=\"\">\n            <input id=\"tMM\" type=\"hidden\" name=\"tMM\" value=\"\">\n            <input id=\"tSS\" type=\"hidden\" name=\"tSS\" value=\"\">\n            <input type=\"submit\" value=\"ラズパイの時刻を設定する\" style=\"font-size:100%;\">\n        </form>\n        <a href=\"./menu\">メニューに戻る</a>　<br><br>\n\n    </div>\n</body>\n\n    <script>\n        time();\n        setInterval('time()',1000);\n    \n        function time(){\n            var now = new Date();\n\n            document.getElementById(\"time1\").innerHTML = now.toLocaleTimeString();\n            document.getElementById(\"dYY\").value = now.getFullYear();\n            document.getElementById(\"dMM\").value = now.getMonth() + 1;\n            document.getElementById(\"dDD\").value = now.getDate();\n            document.getElementById(\"tHH\").value = now.getHours();\n            document.getElementById(\"tMM\").value = now.getMinutes();\n            document.getElementById(\"tSS\").value = now.getSeconds();\n         }\n    </script>\n\n","output":"str","x":320,"y":900,"wires":[["47be2e6c.18cc6"]]}]